<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Index</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Nom projet</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="sass.html">Sass</a></li>
                    <li><a href="badges.html">Components</a></li>
                    <li class="important"><a href="collapsible.html">Dashboard</a></li>
                </ul>
            </div>
        </nav>
        <header>
            <div class="index-info">
                <div class="row">
                    <div class="time">
                        02:28
                    </div>
                </div>
                <div class="row meto">
                    <div class="meteo-img col s6">
                        <i class="material-icons" style="font-size: 80px;">cloud</i>
                    </div>
                    <div class="meteo-details col s6">
                        
                    </div>
                </div>
            </div>
            <a href="#content" class="btn-floating btn-large waves-effect waves-light blue" id="down-arrow"><i class="material-icons">arrow_downward</i></a>
        </header>
        <div class="content">

        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>